<div class="mx-7 my-5">
  <h2 class="text-red-400 py-4">ShhhToshi Wallet Connect</h2>
  <div class="flex flex-col md:flex-row justify-between text-yellow-300">
    <!-- TON Connect Button will be injected here -->
    <div id="ton-connect-button" class="py-2"></div>

    <button class="py-2 w-40 bg-slate-600 rounded-full" (click)="getWalletInfo()">
      Fetch Wallet Info
    </button>

    <div class="pt-4 text-wrap">
      <p>Wallet Info : {{ wallet?.aboutUrl }}</p>
      <p class="text-wrap">Wallet Address : {{ walletAddress }}</p>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>