<div
  class="mx-auto min-h-screen w-full font-body text-red dark:text-dark-50 bg-yellow-300"
>
  <p class="pt-4 text-center text-3xl font-bold">ShhhToshi</p>

  <p class="my-8 text-center">
    {{
      model.isStakeTabActive()
        ? "Stake TON and receive hTON while staking"
        : "Unstake hTON and receive TON and rewards"
    }}
  </p>

  <div class="dark:bg-tabbar mx-auto my-8 w-max rounded-full bg-milky p-0.5">
    <ul
      class="tab-bar relative flex select-none flex-nowrap"
      [ngClass]="{
        stake: model.isStakeTabActive(),
        unstake: !model.isStakeTabActive()
      }"
    >
      <li
        class="z-[1] m-1 w-36 cursor-pointer rounded-full py-1 text-center"
        (click)="model.setActiveTab('stake')"
        (keypress)="model.setActiveTab('stake')"
      >
        Stake
      </li>
      <li
        class="z-[1] m-1 w-36 cursor-pointer rounded-full py-1 text-center"
        (click)="model.setActiveTab('unstake')"
        (keypress)="model.setActiveTab('unstake')"
      >
        Unstake
      </li>
    </ul>
  </div>

  <div
    class="h-8 transition-all duration-700 motion-reduce:transition-none"
    [ngClass]="model.isWalletConnected() ? 'max-h-0' : 'max-h-8'"
  ></div>

  <div class="mx-auto mb-12 max-w-lg">
    <div
      class="overflow-hidden transition-all duration-700 motion-reduce:transition-none"
      [ngClass]="model.isWalletConnected() ? 'max-h-[20rem]' : 'max-h-0'"
    >
      <div
        class="mx-4 rounded-t-2xl bg-brown px-8 pb-12 pt-4 text-sm text-white"
      >
        <div class="flex flex-row flex-wrap">
          <p class="font-light">TON balance</p>
          <p class="ml-auto font-medium">{{ model.tonBalanceFormatted() }}</p>
        </div>

        <ng-container *ngFor="let v of model.stakingInProgress()">
          <div class="flex flex-row flex-wrap">
            <p class="font-light opacity-70">
              {{
                v.estimated == null
                  ? "In progress"
                  : "In progress, done by " + v.estimated
              }}
            </p>
            <p class="ml-auto font-medium opacity-70">{{ v.amount }}</p>
          </div>
        </ng-container>

        <div class="my-4 h-px bg-white opacity-40"></div>

        <div class="flex flex-row flex-wrap">
          <p class="font-light">hTON balance</p>
          <p class="ml-auto font-medium">{{ model.htonBalanceFormatted() }}</p>
        </div>

        <div
          class="flex flex-row flex-wrap"
          [class.hidden]="!model.unstakingInProgress()"
        >
          <p class="font-light opacity-70">
            {{
              model.unstakingInProgress()?.estimated == null
                ? "In progress"
                : "In progress, done by " +
                  model.unstakingInProgress()!.estimated
            }}
          </p>
          <p class="ml-auto font-medium opacity-70">
            {{ model.unstakingInProgress()?.amount }}
          </p>
        </div>
      </div>
    </div>

    <div class="mx-4 -mt-8 rounded-2xl bg-white p-8 shadow-sm">
      <p>{{ model.isStakeTabActive() ? "Stake" : "Unstake" }}</p>

      <label>
        <div
          class="mb-8 mt-4 flex flex-row rounded-lg border p-4 focus-within:border-brown"
          [ngClass]="
            !model.isAmountValid()
              ? 'border-orange focus-within:border-orange'
              : 'border-milky'
          "
        >
          <img
            src="assets/ton.svg"
            alt=""
            class="w-7"
            [class.hidden]="!model.isStakeTabActive()"
          />
          <img
            src="assets/hton.svg"
            alt=""
            class="w-7"
            [class.hidden]="model.isStakeTabActive()"
          />

          <input
            type="text"
            inputmode="decimal"
            placeholder=" Amount"
            size="1"
            class="h-full flex-1 px-3 text-lg focus:outline-none"
            [class.text-orange]="!model.isAmountValid()"
            [value]="model.amount()"
            (input)="onAmountInput($event)"
            (keydown)="onInputKeyDown($event)"
          />

          <button
            class="rounded-lg bg-milky px-3 text-xs hover:bg-gray-200"
            [class.bg-orange]="!model.isAmountValid()"
            (click)="model.setAmountToMax()"
          >
            Max
          </button>
        </div>
      </label>

      <div
        class="flex flex-row gap-4 transition-all"
        [ngClass]="model.isStakeTabActive() ? 'max-h-0 pb-0' : 'max-h-32 pb-8'"
      >
        <div
          class="flex flex-1 cursor-pointer rounded-lg border-2 bg-milky p-4 pr-2 text-sm"
          [class.border-orange]="model.unstakeOption() === 'unstake'"
          (click)="model.setUnstakeOption('unstake')"
          (keypress)="model.setUnstakeOption('unstake')"
        >
          <ng-container *ngIf="model.unstakeOption() === 'unstake'">
            Unstake
          </ng-container>
          <img
            src="assets/check-orange.svg"
            alt=""
            class="w-5"
            [class.invisible]="model.unstakeOption() !== 'unstake'"
          />
        </div>

        <div
          class="flex flex-1 cursor-pointer rounded-lg border-2 bg-milky p-4 pr-2 text-sm"
          [class.border-orange]="model.unstakeOption() === 'swap'"
          (click)="model.setUnstakeOption('swap')"
          (keypress)="model.setUnstakeOption('swap')"
        >
          Swap now
          <img
            src="assets/check-orange.svg"
            alt=""
            class="w-5"
            [class.invisible]="model.unstakeOption() !== 'swap'"
          />
        </div>
      </div>

      <button
        id="submit"
        class="h-14 w-full rounded-2xl bg-orange text-lg font-medium text-white"
        [disabled]="!model.isButtonEnabled()"
        (click)="submit()"
      >
        {{ model.buttonLabel() }}
      </button>

      <div class="mt-12 text-sm font-medium">
        <div class="my-4 flex flex-row flex-wrap">
          <p>You will receive</p>
          <p class="ml-auto">{{ model.youWillReceive() }}</p>
        </div>
        <div class="my-4 flex flex-row flex-wrap">
          <p>Exchange rate</p>
          <p class="ml-auto">
            {{ model.exchangeRateFormatted() }}
          </p>
        </div>
        <div class="relative my-4 flex flex-row flex-wrap">
          <p>Transaction cost</p>
          <img src="assets/question.svg" alt="" class="peer ml-1 w-4" />
          <p
            class="absolute left-1/3 top-6 hidden translate-x-[-25%] rounded-lg bg-lightblue p-4 text-xs text-blue shadow-xl peer-hover:block"
          >
            This fee is an average… later refunded to your wallet.
          </p>
          <p class="ml-auto">
            {{
              model.isStakeTabActive()
                ? model.averageStakeFeeFormatted()
                : model.averageUnstakeFeeFormatted()
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
